@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

*{
  box-sizing: border-box;
}

body, html{
  width: 100%;
  height: auto;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}